In [6]:
import pandas as pd
at=pd.read_csv('./data/athlete_events.csv')
at.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## Q1. Youngest male/female of 1996 (14 and 12)

In [120]:
at[at['Year']==1996].pivot_table(['Age'],['Sex'],aggfunc='min')

      Age
Sex
F    12.0
M    14.0

## Q2. Percentage of male gymnasts in 2000 (=1,5)

In [20]:
malesOf2000=at[(at['Year']==2000) & (at['Sex']=='M')]

In [22]:
malesOf2000[malesOf2000['Sport']=='Gymnastics']['Name'].nunique()

97

In [24]:
malesOf2000[malesOf2000['Sport']=='Gymnastics']['Name'].nunique() / malesOf2000['Name'].nunique()

0.014750608272506082

In [23]:
malesOf2000['Name'].nunique()

6576

## Q3. Mean and sdv female height in 2000 (182,4; 9,1)

In [31]:
gymFemalesOf2000=at[(at['Year']==2000) & (at['Sex']=='F') & (at['Sport']=='Basketball')]

In [32]:
gymFemalesOf2000["Name"].nunique()

142

In [33]:
gymFemalesOf2000.describe()

                  ID         Age      Height      Weight    Year
count     142.000000  142.000000  142.000000  142.000000   142.0
mean    65981.295775   26.690141  182.387324   73.464789  2000.0
std     38666.204358    4.185729    9.139462    9.002491     0.0
min       580.000000   17.000000  162.000000   58.000000  2000.0
25%     33914.250000   24.000000  175.000000   67.000000  2000.0
50%     64471.500000   27.000000  182.000000   73.000000  2000.0
75%     96557.000000   30.000000  190.000000   80.000000  2000.0
max    135105.000000   37.000000  213.000000  100.000000  2000.0

## Q4. Highest weights in 2002 sport (Bobsleigh)

In [35]:
sportspersons2002=at[(at['Year']==2002)].sort_values(by='Weight', ascending=False).head()

In [43]:
sportspersons2002.iloc[0,12]

'Bobsleigh'

## Q5. How many time Pawe participated (3)

In [47]:
at[at['Name']=='Pawe Abratkiewicz']['Year'].nunique()

3

## Q6. Silver tennis medals Australia in 2000 (2)

In [61]:
ausPlayersIn2000=at[(at['Year']==2000) & (at['Team']=='Australia')]

In [62]:
import math

In [74]:
ausPlayersIn2000WithMedals=ausPlayersIn2000[pd.isnull(ausPlayersIn2000['Medal'])==False]

In [77]:
ausPlayersIn2000WithMedals[ausPlayersIn2000WithMedals['Sport']=='Tennis']['Name'].count()

2

## Q7. Switzerland won fewer mdals than Serbia ai 2016 (Yes)

In [79]:
games2016=at[at['Year']==2016]

In [84]:
games2016WithMedals=games2016[pd.isnull(games2016['Medal'])==False]

In [85]:
switz=games2016WithMedals[games2016WithMedals['Team']=='Switzerland']

In [88]:
serbia=games2016WithMedals[games2016WithMedals['Team']=='Serbia']

In [89]:
switz['ID'].count()

11

In [90]:
serbia['ID'].count()

54

In [91]:
switz['ID'].count()<serbia['ID'].count()

True

## Q8. fewest and mostage categories in 2014 ([45-55]; [25-35))

In [92]:
games2014=at[at['Year']==2014]

In [93]:
cat45=games2014[(games2014['Age']>=45) & (games2014['Age']<=55)]

In [94]:
cat25=games2014[(games2014['Age']>=25) & (games2014['Age']<35)]

In [106]:
for i in range(1,5):
    age1=i*10+5
    age2=age1+10
    nums=games2014[(games2014['Age']>=age1) & (games2014['Age']<=age2)]["Name"].nunique()
    nums2=games2014[(games2014['Age']>=age1) & (games2014['Age']<age2)]["Name"].nunique()
    print(age1,nums,nums2)

15 1394 1193
25 1447 1397
35 151 150
45 5 4

## Q9. Summer in Lake Placid; Winter in SanktMoritz (No, Yes)

In [107]:
summer=at[at['Season']=='Summer']

In [109]:
winter=at[at['Season']=='Winter']

In [114]:
summer[summer['City']=='Lake Placid']['ID'].nunique()>0

False

In [115]:
winter[winter['City']=='Sankt Moritz']['ID'].nunique()>0

True

## Q10. Difference between 1996 and 2016 (3)

In [116]:
unique1996=at[at['Year']==1996]['Sport'].nunique()

In [118]:
unique2016=at[at['Year']==2016]['Sport'].nunique()

In [119]:
unique2016-unique1996

3